#id1{
    color: red;
    background: blue;
    width: 100px;
    font-size: 30px;
    height: 100px;
    float: left;
    clear: left;
}
#id2{
    
    color: red;
    background: white;
    width: 100px;
    font-size: 30px;
    height: 100px;
    float: left;
    clear: right;
}
#id3{
    
    color:red;
    background: white;
    width: 100px;
    font-size: 30px;
    height: 100px;
    float: left;
    clear: right;
}
#id4{
    
    color: red;
    background: white;
    width: 100px;
    font-size: 30px;
    height: 100px;
    float: left;
    clear: right;
}
#id5{
    
    color: red;
    background: white;
    width: 100px;
    font-size: 30px;
    height: 100px;
    float: left;
    clear: right;
}
#id6{
    
    color: red;
    background: white;
    width: 100px;
    font-size: 30px;
    height: 100px;
    float: left;
    clear: right;
}
#id7{
    
    color:red;
    background: white;
    width: 100px;
    font-size: 30px;
    height: 100px;
    float: left;
    clear: left;
}
#id8{
    
    color: red;
    background: blue;
    width: 100px;
    font-size: 30px;
    height: 100px;
    float: left;
    clear: right;
}
#id9{
   
    color: red;
    background: white;
    width: 100px;
    font-size: 30px;
    height: 100px;
    float: left;
    clear: right;
}
#id10{
    
    color: red;
    background: white;
    width: 100px;
    font-size: 30px;
    height: 100px;
    float: left;
    clear: right;
}
#id11{
    
    color:red;
    background: white;




    width: 100px;
    font-size: 30px;
    height: 100px;
    float: left;
    clear: right;
}
#id12{
   
    color: red;
    background: white;
    width: 100px;
    font-size: 30px;
    height: 100px;
    float: left;
    clear: left;
}
#id13{
    
    color: red;
    background: white;
    width: 100px;
    font-size: 30px;
    height: 100px;
    float: left;
    clear: right;
}
#id14{
    
    color: red;
    background: blue;
    width: 100px;
    font-size: 30px;
    height: 100px;
    float: left;
    clear: right;
}
#id15{
    
    color:red;
    background: white;
    width: 100px;
    font-size: 30px;
    height: 100px;
    float: left;
    clear: right;
}
#id16{
    
    color: red;
    background: white;
    width: 100px;
    font-size: 30px;
    height: 100px;
    float: left;
    clear: left;
}
